
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    function isValidPendingSubmission() {
      let message = request.resource.data.message;
      return request.resource.data.approved == false
        && !('adminId' in request.resource.data)
        && !('approvalDate' in request.resource.data)
        && request.resource.data.firstName is string
        && request.resource.data.firstName.size() > 1
        && request.resource.data.lastName is string
        && request.resource.data.lastName.size() > 1
        && message is string && message.size() > 4 && message.size() <= 60;
    }
    
    function isValidApprovedCreation(delneveshteId) {
        let incomingData = request.resource.data;
        let existingData = get(/databases/$(database)/documents/delneveshtes_pending/$(delneveshteId)).data;

        return incomingData.approved == true
            && incomingData.adminId == request.auth.uid
            && incomingData.keys().hasAll(['firstName', 'lastName', 'message', 'submissionDate', 'approved', 'approvalDate', 'adminId'])
            && incomingData.firstName == existingData.firstName
            && incomingData.lastName == existingData.lastName
            && incomingData.message == existingData.message;
    }


    match /delneveshtes_pending/{delneveshteId} {
      allow get: if isAdmin();
      allow list: if isAdmin();
      allow create: if isValidPendingSubmission();
      allow update: if false;
      allow delete: if isAdmin();
    }

    match /delneveshtes_approved/{delneveshteId} {
      allow get: if true;
      allow list: if true;
      allow create: if isAdmin() && isValidApprovedCreation(delneveshteId);
      allow update: if false;
      allow delete: if isAdmin();
    }

    match /roles_admin/{adminId} {
      allow get: if isAdmin();
      allow list: if isAdmin();
      allow create: if isAdmin();
      allow update: if false;
      allow delete: if isAdmin();
    }
  }
}
